doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Potwierdź Rejestrację 72 godziny
  body(style="font-family: Arial, sans-serif; margin: 0; padding: 0;")
    table(width="100%", cellpadding="0", cellspacing="0", border="0")
      tr
        td(style="padding: 20px;")
          | Witaj #{name} #{surname},
          br
          br
          | Dziękujemy za rejestrację w SNTI!
          br
          | Link będzie aktywny przez 3 dni.
          br
          | Aby dokończyć proces rejestracji, prosimy kliknąć poniższy przycisk:
          br
          br
          a(href=url, style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;") Potwierdź Rejestrację
          br
          br
          | Po potwierdzeniu rejestracji będziesz mógł/mogła korzystać z naszych usług.
          br
          br
          | Pozdrawiamy,
          br
          | Zespół SNTI
