doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Resetuj Hasło
  body(style="font-family: Arial, sans-serif; margin: 0; padding: 0;")
    table(width="100%", cellpadding="0", cellspacing="0", border="0")
      tr
        td(style="padding: 20px;")
          | Witaj #{name} #{surname},
          br
          br
          | Otrzymujesz tę wiadomość, ponieważ otrzymaliśmy prośbę o zresetowanie hasła do twojego konta w SNTI. 
          br
          | Link będzie aktywny przez 10 minut. 
          br
          | Kliknij poniższy przycisk, aby zresetować swoje hasło. Jeśli nie prosiłeś o zresetowanie hasła, możesz zignorować tę wiadomość.
          br
          br
          a(href=url, style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;") Zresetuj Hasło
          br
          br
          | Pozdrawiamy,
          br
          | Zespół SNTI
