doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Witamy w SNTI!
  body
    div(style="font-family: Arial, sans-serif;")
      h1 Witamy w SNTI!
      p
        | Witaj #{name} #{surname}, 
        br
        | Dziękujemy za dołączenie do naszej społeczności w SNTI. Jesteśmy bardzo zadowoleni, że jesteś z nami!
      p
        | Oto kilka przydatnych informacji:
      ul
        li
          | Zaloguj się na swoje konto: 
          a(href="#{hostname}") #{hostname}
      p
        | Jeśli masz jakiekolwiek pytania lub potrzebujesz pomocy, prosimy o kontakt. 
        br
        | Życzymy udanej współpracy!
      p
        | Pozdrawiamy,
        br
        | Zespół SNTI
